body {
    margin: 0;
  }

 /* Main */ 

.main {
    background: #000 url(imagini/img-2.webp);
    color: #fff;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .color-overlay {
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    position: absolute;
  }

  .container {
    z-index: 2;
    text-align: center;
  }

  .btn {
    color: #fff;
    background-color: #1b3863;
    border-radius: 35px;
    border: 2px solid #1b3863;
    padding: 10px 40px 10px 40px;
    margin-top: 30px;
}

/* Content */

.content-details {
    color: #1b3863;
    padding: 20px;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 600px;
  border-radius: 100px;
  padding: 20px;
}

/* Services */

.services {
  background-color: #f8f9fa;
  color:#1b3863
  
}

/* About */

.about-us {
  background-image: url(imagini/img-5.jpg);
  color:#fff;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* footer */

.footer {
      border-top: 1px solid #e5e5e5;
      margin-left: 7rem;
}

.fin {
  text-align: center;
}